<!DOCTYPE html>
<html>
<head>
    <title>TEMPLATE_BASE1</title>
</head>
<body>
    <p> Hello, this is base1 template </p>
    <p2> pang pang </p2>
    <p2> nao nao </p2>
    <p2> biu biu </p2>
</body>
</html>